body {
    width: 1200px;
    margin:0 auto;
}

.green {
    color:green
}
.main-panel {
    height: 300px;
}

.title {
    font-size: 7px;
    font-family: Helvetica Neue;
    font-style: italic;
}

.data {
    background: transparent;
    font-size:11px;
    width: 90%;
    border: none;
   /* border-bottom: 0.1px black solid;*/
    color: #1500fd;
    font-weight:600;
}

.note {
    font-size: 9px;
}

.left-party, .center-party {
    float:left;
    height: 100%;
    position: relative;
}
.right-party {
    float:right;
    height: 100%;
    position: relative;
}

.left-party {
    border-right: 2px solid #0D67C1;
    width: 11%;
}

.caht {
    text-align: right;
}

.col-2 {
    width: 50%;
    float: left;
}

.header-prospect {
    border-top: 4px solid #0D67C1;
    border-right: 4px solid #0D67C1;
    border-left: 4px solid #0D67C1;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 2.5em;
    overflow: hidden;
}

.header-prospect .left-party{
    text-align: left;
}


.header-prospect .left-party span{
    margin-left: 12px;
    font-style: italic;
}

.header-prospect .center-party {
    width: 41%;
}
.header-prospect .center-party span {
    margin-left: 5px;
    font-style: italic;
}
.header-prospect .right-party{
    width: 46%;
    border-left: 2px solid #0D67C1;
}

.header-prospect .right-party .square:first-child {
    border-left: none;
    width: 43%;
    height: 100%;
    float: left;
}

.header-prospect .right-party .square {
    border-left: 2px solid #0D67C1;
    width: 14%;
    height: 100%;
    float: left;
}


.header-prospect .right-party .square-outsize {
    width: 19.8%;
}

.header-prospect .right-party .square span {
    margin-left: 5px;
    font-style: italic;
}

/* second header  */

.second-header-prospect {
    border-top: 2px solid #0D67C1;
    border-right: 4px solid #0D67C1;
    border-left: 4px solid #0D67C1;
    height: 6.8em;
    overflow: hidden;
}

.second-header-prospect .left-party{
    text-align: left;
}


.second-header-prospect .left-party span{
    margin-right: 5px;
    font-style: italic;
    margin-left: 6px;

}

.second-header-prospect .center-party {
    width: 41%;
}
.second-header-prospect .center-party span {
    margin-left: 5px;
    font-style: italic;
}
.second-header-prospect .right-party{
    width: 46%;
    border-left: 2px solid #0D67C1;
}

.second-header-prospect .right-party .line {
    overflow: hidden;
    border-bottom: 2px solid #0D67C1;
}
.second-header-prospect .right-party .line.line-year{
    overflow: hidden;
    border-bottom: 2px solid #0D67C1;
}

.second-header-prospect .right-party .square:first-child {
    border-left: none;
    width: 14%;
    height: 100%;
    float: left;
}

.second-header-prospect .right-party .square {
    border-left: 2px solid #0D67C1;
    width: 14%;
    height: 100%;
    float: left;
}
.second-header-prospect .right-party .line-year .square{
    width: 13.8%;
    height: 100%;
    float: left;
}


.second-header-prospect .right-party .square-outsize {
    width: 14.3%;

}

.second-header-prospect .right-party .square span {
    margin-left: 5px;
    font-style: italic;
}


/* sub header */

.sub-header-prospect  {
    border-top: 2px solid #0D67C1;
    border-right: 4px solid #0D67C1;
    border-left: 4px solid #0D67C1;
    height: 7em;
    overflow: hidden;
}

.sub-header-prospect .left-party .line {
     height: 2em;
    text-align: left;
 }
.sub-header-prospect .left-party .line:first-child {
    border-bottom: 2px solid #0D67C1;
 }

.sub-header-prospect .left-party .line span {
    margin-left: 5px;
    font-style: italic;
}

.sub-header-prospect .left-party .line.border {
    border-top: 1px solid #0D67C1;
    height: 1.9em;
}

.sub-header-prospect .center-party .line {
    height: 2em;
}

.sub-header-prospect .right-party input {
    text-align: center;
}

.sub-header-prospect .center-party .line.grp {
    border-top: 1px solid #0D67C1;
}

.sub-header-prospect .center-party .line span {
    margin-left: 5px;
    font-style: italic;
}

.sub-header-prospect .center-party {
    width: 42.66%;
}

.sub-header-prospect .right-party{
    width: 46%;
    border-left: 2px solid #0D67C1;
}

.sub-header-prospect .right-party .line {
    overflow: hidden;
    border-bottom: 2px solid #0D67C1;
}
.sub-header-prospect .right-party .line.line-year{
    overflow: hidden;
    border-bottom: 2px solid #0D67C1;
}

.second-header-prospect .right-party .line-year .square {
    border-left: 2px dashed #0D67C1;
}

.second-header-prospect .right-party .line-year .square:first-child  {
    border-left: none;
}

.sub-header-prospect .right-party .square:first-child {
    border-left: none;
    width: 14%;
    height: 100%;
    float: left;
}

.sub-header-prospect .right-party .square {
    border-left: 2px solid #0D67C1;
    width: 14%;
    height: 100%;
    float: left;
}
.sub-header-prospect .right-party .line-year .square{
    width: 13.8%;
    height: 100%;
    float: left;
}

.sub-header-prospect .right-party .line-year .square {
    border-left: 2px dashed #0D67C1;
}

.sub-header-prospect .right-party .line-year .square:first-child  {
    border-left: none;
}

.sub-header-prospect .right-party .square-outsize {
    width: 19.8%;
}

.sub-header-prospect .right-party .square span {
    margin-left: 5px;
    font-style: italic;
}


.main-prospect {
    border: 4px solid #0D67C1;
    height: 22.6em;
    overflow: scroll;
}

.main-prospect .collab {
    height: 4.5em;
    width:100%;
}
.main-prospect .head {
    height: 1em;
    width:100%;
}

.main-prospect .collab:nth-child(even) {background: #FFF}
.main-prospect .collab:nth-child(odd) {background: #d3ecff}

.main-prospect .collab .left-party {
}


.main-prospect .head .left-party .line {
    text-align: left;
    margin-left: 6px;
}
.main-prospect .collab .left-party .line {
    height: 50%;
    text-align: left;
    margin-left:5px;
}

.main-prospect .collab .left-party .line span, .main-prospect .head .left-party .line span {
    margin-right: 4px;
}
.main-prospect .collab .center-party, .main-prospect .head .center-party {
    overflow: hidden;
    width: 36.4%;
}

.main-prospect .collab .center-party .col, .main-prospect .head .center-party .col {
    float:left;
    height: 100%;
}

.main-prospect .collab .center-party .line {
    height: 50%;
}

.main-prospect .collab .center-party .line span, .main-prospect .head .center-party .line span {
    margin-left: 4px;
    font-style: italic;

}


.main-prospect .collab .center-party .first-col, .main-prospect .head .center-party .first-col {
    width: 5%;
    border-right: 2px dashed #0d67c1;

}

.main-prospect .collab .center-party .first-col input {
    text-align: center;
}

.main-prospect .collab .center-party .second-col, .main-prospect .collab .center-party .third-col,
.main-prospect .head .center-party .second-col, .main-prospect .head .center-party .third-col {
    width: 45%;
    border-right: 2px dashed #0d67c1;
}
.main-prospect .collab .center-party .four-col, .main-prospect .head .center-party .four-col {
    width: 12%;
    border-right: 2px solid #0d67c1;
}

.main-prospect .collab .right-party, .main-prospect .head .right-party {
    overflow: hidden;
    width: 45.9%;
    float:left;
}

.main-prospect .collab .right-party .line {
    height: 50%;
}



.main-prospect .collab .right-party .square, .main-prospect .head .right-party .square {
    width: 13.8%;
    float:left;
    border-right:2px dashed #0d67c1;
    height: 100%;
}

.main-prospect .collab .right-party .square span, .main-prospect .head .right-party .square span {
   margin-left:4px;
    font-style: italic;
}


.main-prospect .head .right-party .square:last-child{
    border:none;
}



.footer-prospect {
    border-bottom: 4px solid #0D67C1;
    border-right: 4px solid #0D67C1;
    border-left: 4px solid #0D67C1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 4em;
}

.footer-prospect .left-party .line {
    height: 50%;
    margin-left:6px;
}

.footer-prospect .right-party {
    float: left;
    height: 100%;
    position: relative;
    width: 45%;
    position:relative;
}

.footer-prospect .right-party img {
    width: 35px;
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.footer-prospect .right-party .square {
    width: 5.2em;
    height: 100%;
    border-left: 2px solid #0D67C1;
    float: right;
    position: relative;
}

.footer-prospect .right-party .note-footer {
    float: left;
    width: 82%;
}


.footer-prospect .center-party .line {
    height: 50%;
    margin-left: 4px;


}




.footer-prospect .center-party {
    border-right: 2px solid #0D67C1;
    float: left;
    height: 100%;
    position: relative;
    width: 42.7%;
}
/* input */

.upper-input {
    text-transform: uppercase;
}

.left-input {
    text-align: right;
}

.center-input {
    text-align: center;
}

.line-padding-border {
    border-bottom: 2px solid #0D67C1;
    padding-bottom: 4px;
}

.date-input::-webkit-inner-spin-button,
.date-input::-webkit-calendar-picker-indicator,
.date-input::-webkit-clear-button {
    opacity:0;
    -webkit-appearance: none;
}
.date-input {
    font-size: 7px;
    width:98%;
}

.tel, #tel {
    font-size: 11px;
}

.blue-color {
    background:#9ff5ff;
}